body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c4c4c4;
  background-color: #151515;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td, th {
  border: 1px solid white;
  padding: 3px;
  min-width: 9vw;
  max-width: fit-content;
}

h2 {
  margin: 0;
  padding: 10px;
}

button {
  background-color: #2eb2e6;
}

input, select, button {
  height: 5vh;
  width: 10vw;
  border-radius: 5px;
  margin: 12px 5px;
}

a, a:not([href]):not([class]) {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 8px;
}

a:not([href]):not([class]):hover {
  color: #2eb2e6;
  cursor: pointer;
}

div:empty {
  padding: 0;
}

.form-control, .form-select {
  display: inline;
}

.search {
  width: 35%;
}

.route {
  width: 24%;
}